body {
  margin: 0;
}

.main {
  padding: 8px;
}

.app {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 70px 0;
  overflow: hidden;
  background-image: url("/images/globe.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 32px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
img:active {
  transform: scale(1.05);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.bean-table {
  display: block;
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* fix table */
.title {
  text-align: center;
  font-size: 32px;
}
th {
  border: 1px solid black;
  font-size: 20px;
}
td {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}
.container {
  width: 200px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.container img {
  width: 50%;
  height: auto;
}
.NewBeanData {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: block;
  justify-content: center;
  margin-top: 20px;
}
.roastChart {
  display: flex;
  width: 60%;
  height: 60%;
}

.inputField {
  width: 400px;
  height: 50px;
  font-size: 18px;
  word-wrap: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.NewBeanDataImage {
  width: 200px;
  height: 200px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
